
// $body-bg: #FAF9F6;
body{
    background-color: #FAF9F6 !important;
}
main{
    max-width: 1200px;
    margin: auto;
    position: relative;
    
}

//NAV
nav{
   background-color: #FAF9F6;
   margin-left: 5em;
   margin-right: 5em;
}
.nav-item.active {
    a{
      color: #F36912;  
    }
    
}


//Buttons
// Custom Button Styles
button.custom-button {
  background-color: #FB2E65;
  color: #fff; 
  border: none;

&:hover {
  border: 2px solid #FB2E65;
  background-color: transparent;
 
  color: #FB2E65; 
  transition: background-color 0.3s;
}
  }
  .btn.btn.btn-secondary{
background-color: #F36912;
border: none;
  }
  button.custom-more{
    background-color: transparent;
    border: none;
    color: #F36912; 
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #F36912;
      color: #fff; 
    }
  }
  button.custom-search{
    border-color: #F36912;

    .material-symbols-outlined{
      color: #F36912;

      &:hover {
        color: #fff; 
      }
     
    } &:hover {
        background-color: #F36912;
        border:none;
      }
  }
  button.settings{
  position: fixed;
  top: 300px;
 right: 50px;
 width: 200px;
 background-color: #FB2E65;
    color: #fff; 
    border: none;
   
 
 

  &:hover {
    border: 2px solid #FB2E65;
    background-color: transparent;
   
    color: #FB2E65; 
    transition: background-color 0.3s;
  }
  }
  
  //SECTIONS

  section{
    border: 2px solid #F36912;
    border-radius: 25px;
    background-color: #fff;
    
  }
 
.color{
  height: 20px;
  width: 100px;
  border-radius: 25px;
  background-color: red;
}

//IMAGES
.image-container{
height: 200px;
width: 200px;
img.img-thumbnail{
  width: 100%;
  height: 100%;
object-fit: cover;
}
}
.profile-image-container{
  width: 50px;
  height: 50px;
  img.profile{
    width: 100%;
    height: 100%;
  border-radius: 50%;
  object-fit: cover;
    
  }
}

form.hidden{
  display: none;
}
//   @import "../node_modules/bootstrap/scss/functions";