body {
  background-color: #faf8f6 !important;
}

main {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

//NAV

.nav-item.active {
  a {
    color: #f36912;
  }
}
.nav-item {
  a {
    color: black;
  }

  a:hover {
    color: #f36912;
  }
}

// .nav-link:hover .material-symbols-outlined {
//   color: #F36912;
// }

//Buttons
// Custom Button Styles
button.custom-button {
  background-color: #fb2e65;
  color: #fff;
  border: none;

  &:hover {
    border: 2px solid #fb2e65;
    background-color: transparent;

    color: #fb2e65;
    transition: background-color 0.3s;
  }
}
.btn.btn.btn-secondary {
  background-color: #fb2e65;
  border: none;
}
button.custom-more {
  background-color: transparent;
  border: none;
  color: #f36912;
  transition: background-color 0.3s;

  &:hover {
    background-color: #f36912;
    color: #fff;
  }
}
button.custom-search {
  background-color: #f36912;
  border: #f36912;

  &:hover {
    background-color: #fff;
    border: solid 1px #ced4da;
  }

  .material-symbols-outlined {
    color: #fff;
    &:hover {
      color: #f36912;
    }
  }
}
button.settings {
  position: fixed;
  top: 300px;
  right: 50px;
  width: 200px;
  background-color: #fb2e65;
  color: #fff;
  border: none;

  &:hover {
    border: 2px solid #fb2e65;
    background-color: transparent;

    color: #fb2e65;
    transition: background-color 0.3s;
  }
}

button.btn.btn-outline-secondary.custom-star:focus {
  background-color: #f36912;
  color: #fff;
}
button.btn.btn-outline-secondary.custom-star:hover {
  background-color: #f36912;
}

//SECTIONS

section {
  border: 2px solid #f36912;
  border-radius: 25px;
  background-color: #fff;
}

.color {
  height: 20px;
  width: 100px;
  border-radius: 25px;
  background-color: red;
}

//IMAGES
.image-container {
  height: 200px;
  width: 200px;
  img.img-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.profile-image-container {
  width: 50px;
  height: 50px;
  img.profile {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

form.hidden {
  display: none;
}

//post-it
.post-it-right {
  position: relative;
  min-width: 150px;
  max-width: 300px;
  padding: 40px;
  background-color: #ffd700;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 3px 3px 8px #888888;
  transform: rotate(20deg);
}
.post-it-left {
  position: relative;
  width: 300px;
  padding: 40px;
  background-color: #fb2e65;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 3px 3px 8px #888888;
  transform: rotate(-20deg);
}

.tape {
  position: absolute;
  width: 35px;
  height: 70px;
  background-color: #fff;
  border: 1px solid #ccc;
  top: -30px;
  left: 130px;

  z-index: 1;
}
//   @import "../node_modules/bootstrap/scss/functions";
