
// $body-bg: #FAF9F6;
body{
    background-color: #FAF9F6 !important;
}
main{
    max-width: 1200px;
    margin: auto;
    
}

//NAV
nav{
   background-color: #FAF9F6;
   margin-left: 5em;
   margin-right: 5em;
}
.nav-item.active {
    a{
      color: #F36912;  
    }
    
}


//Buttons
// Custom Button Styles
button.custom-button {
    border: 2px solid #FB2E65;
    background-color: transparent;
    width: 500px;
    color: #FB2E65; // Set text color to match border
    transition: background-color 0.3s;
   
  
    &:hover {
      background-color: #FB2E65;
      color: #fff; // Set text color on hover 
      border: none;
    }
  }
  .btn.btn.btn-secondary{
background-color: #F36912;
border: none;
  }
  button.custom-more{
    background-color: transparent;
    border: none;
    color: #F36912; 
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #F36912;
      color: #fff; // Set text color on hover
    }
  }
  
  //SECTIONS

  section{
    border: 2px solid #F36912;
    border-radius: 25px;
    background-color: #fff;
    
  }

//   @import "../node_modules/bootstrap/scss/functions";